/* ======== ESTILO GENERAL ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(180deg, #001f3f, #003366);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ======== HEADER ======== */
header {
  text-align: center;
  padding: 25px 15px;
  background: rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #ffcc00;
}

header h1 {
  font-size: 2rem;
  color: #ffcc00;
  margin-bottom: 8px;
}

header h3 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 4px;
}

header p {
  color: #d0d0
